@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 5 version
*/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /*  scroll-behavior: smooth; */
}

img {
  vertical-align: top;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
}

body {
  font-family: "Montserrat", "OpenSans", "SourceSansPro", sans-serif;
  font-size: 1rem;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.container-contact {
  width: 90%;
  max-width: 770px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.75rem;
}

.footer__contact-title h4::before, .gallery__title h4::before, .news__title h4::before, .project__title h4::before {
  content: "";
  width: 8.5%;
  position: absolute;
  height: 1px;
  top: -30px;
  left: 46%;
}

.blue-text {
  color: #2C4058;
}

.btn-white {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #2C4058;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-position: 20% 0%;
  background-size: 100% 100%;
}
.btn-white:hover {
  background-position: 20% 0;
  background-size: 550% 100%;
  background: -o-linear-gradient(45deg, #55B7FF 16.9%, #7E5AFF 83.27%);
  background: linear-gradient(45deg, #55B7FF 16.9%, #7E5AFF 83.27%);
  color: #fff;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

#panel {
  color: #2C4058;
  font-size: 40px;
}

.media__links a svg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid #1d3977;
  border-radius: 50%;
  background-color: #fff;
}

.facebook-link svg:hover path {
  fill: #3b5998;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tvitter-link svg:hover path {
  fill: #1ca2f3;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.insta-link svg:hover path {
  fill: #b33492;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__content {
  margin-top: 55px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__block {
  color: #fff;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "SourceSansPro";
}
.header .nav-box__nav {
  display: inline-block;
}
.header__menu {
  padding-top: 14px;
}
.header__menu-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}
.header__menu-box {
  position: relative;
}
.header__menu .nav-box__circle::before {
  position: absolute;
  top: 5px;
  left: -18px;
  line-height: 10px;
  width: 10px;
  height: 10px;
  content: "";
  border: 1px solid #fff;
  border-radius: 50%;
}
.header__menu li {
  position: relative;
  cursor: pointer;
  /*   Изменение цвета кружка при наедении */
}
.header__menu li:hover .nav-box__circle::before {
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__menu li:active .nav-box__circle::before {
  background-color: #111111;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__menu li a {
  text-decoration: none;
  color: #fff;
}
.header__menu li + li {
  margin-left: 90px;
}
.header__media {
  padding-top: 5px;
}
.header__media li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
}
.header__media li + li {
  padding-left: 15px;
}
.header__media .media__links a svg {
  width: 40px;
}

.fixed_header #header-content {
  margin-top: 0px;
  width: 100%;
  height: 60px;
  padding-top: 5px;
  background: -o-linear-gradient(206.57deg, rgba(126, 90, 255, 0.7) 16%, rgba(85, 183, 255, 0.7) 90%);
  background: linear-gradient(243.43deg, rgba(126, 90, 255, 0.7) 16%, rgba(85, 183, 255, 0.7) 90%);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 99;
}

.about__vertical_layer {
  background: -o-linear-gradient(206.57deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
}
.about-bg {
  padding: 60px 0 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}
.about__text {
  width: 100%;
  padding-top: 105px;
  font-family: "Montserrat";
  position: relative;
  color: #fff;
  max-width: 90%;
  margin: 0 auto;
}
.about__title {
  padding: 165px 0 17px;
}
.about__title h2 {
  font-size: 5rem;
  /* раб. формула адаптивного шрифта(1 этап, 2-й в медиа запросе на (max-width:767px))
  font-size: calc(44px + 36 * ((100vw / 1920))); */
  letter-spacing: 0.1em;
  text-align: center;
}
.about__subtitle {
  padding-bottom: 240px;
  position: relative;
}
.about__subtitle P {
  font-size: 1.0625rem;
  line-height: 22px;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}
.about__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about__scroll a img {
  width: 40px;
}
.about .slick-dots {
  width: 25px;
  bottom: auto;
  top: 50%;
  right: 52px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.about .slick-dots li {
  width: 20px;
  height: 20px;
}
.about .slick-dots li + li {
  margin-top: 30px;
}
.about .slick-dots li button {
  width: 10px;
  height: 10px;
}
.about .slick-dots li button:hover:before,
.about .slick-dots li button:focus:before {
  /* background-color: #55B7FF; */
  background-color: #fff;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.about .slick-dots li button:before {
  font-size: 0px;
  line-height: 10px;
  width: 10px;
  height: 10px;
  content: "•";
  opacity: 1;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}
.about .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
  background-color: #fff;
}

.project {
  padding: 98px 0 138px;
}
.project__title {
  text-align: center;
  position: relative;
  padding-bottom: 90px;
}
.project__title h4::before {
  background-color: #2C4058;
}
.project__block-first {
  padding-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 54% 70px 46% 70px 54% 70px 46%;
  grid-template-columns: repeat(2, 54% 46%);
  width: 100%;
  gap: 70px;
}
.project__image_first {
  padding: 57px 0 0 0;
  position: relative;
}
.project__image_first img {
  -webkit-box-shadow: -240px -60px 0px 0px #55B7FF;
  box-shadow: -240px -60px 0px 0px #55B7FF;
  z-index: 99;
}
.project__card {
  padding-top: 30px;
}
.project__card_name {
  padding: 120px 0 5px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.07em;
}
.project__card_text {
  line-height: 30px;
  letter-spacing: 0.02em;
}
.project__card_text {
  width: 100%;
  padding: 20px 20px 30px 0;
}
.project__location {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project__location img {
  width: 9px;
}
.project__location p {
  padding-left: 15px;
}
.project__button {
  padding-bottom: 60px;
}
.project .project__card-second {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: my-card;
}
.project .project__image_second {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: my-image;
}
.project__block-second {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "my-card my-image";
  -ms-grid-columns: 46% 5px 54% 5px 46% 5px 54%;
  grid-template-columns: repeat(2, 46% 54%);
  width: 100%;
  gap: 5px;
}
.project__card-second {
  padding-top: 18px;
}
.project__image_second {
  padding-top: 45px;
  position: relative;
  width: 100%;
}
.project__image_second img {
  -webkit-box-shadow: 270px -60px 0px 0px #7E5AFF;
  box-shadow: 270px -60px 0px 0px #7E5AFF;
  z-index: 99;
}

.news {
  background: -o-linear-gradient(212.9deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}
.news-bg {
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
}
.news__layer {
  padding: 164px 0 190px;
}
.news__title {
  text-align: center;
  position: relative;
  padding-bottom: 75px;
  color: #fff;
}
.news__title h4::before {
  background-color: #fff;
}
.news .slider__wrapper_horizontal {
  margin: 0 -15px;
}
.news .slider__wrapper_horizontal li {
  height: 100%;
  width: 100%;
  list-style: none;
  position: relative;
  padding: 15px;
}
.news .slider__wrapper_horizontal li:hover {
  overflow: hidden;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news .slider__wrapper_horizontal .slider__item-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: transparent;
  background-image: #000;
  opacity: 0;
}
.news .slider__content_header img {
  width: 100%;
  height: 100%;
  display: block;
}
.news .slider__content_title {
  background: #fff;
  font-family: "Montserrat";
  padding: 30px 20px 15px;
}
.news .slider__content_title h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.375rem;
  white-space: normal;
  line-height: 1.9rem;
}
.news .slider__content_subtitle {
  background: #fafafa;
  color: #2C4058;
}
.news .slider__content_subtitle p {
  height: 50px;
  font-family: "OpenSans";
  font-weight: 400;
  color: #2C4058;
  font-size: 1rem;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
}
.news .slider__content_subtitle p:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1.2em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
  pointer-events: none;
}
.news .slider__content_footer {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 20px 30px;
  color: #616161;
}
.news .slider__content_avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  max-width: 60px;
}
.news .slider__footer_text {
  margin-left: 15px;
}
.news .slider__content_date {
  padding-top: 6px;
  color: #55B7FF;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.news .slick-dots {
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -67px;
  left: 41%;
}
.news .slick-dots li {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.news .slick-dots li button {
  width: 10px;
  height: 10px;
}
.news .slick-dots li button:hover:before,
.news .slick-dots li button:focus:before {
  /* background-color: #55B7FF; */
  background-color: #fff;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.news .slick-dots li button:before {
  font-size: 0px;
  line-height: 10px;
  width: 10px;
  height: 10px;
  content: "•";
  opacity: 1;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}
.news .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
  background-color: #fff;
}
.news .slick-prev:before {
  display: block;
  content: " ";
  background-image: url("../images/svg/arrow-left.svg");
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}
.news .slick-next:before {
  display: block;
  content: " ";
  background-image: url("../images/svg/arrow-right.svg");
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}
.news .slick-prev {
  right: 0px;
  left: -82px;
}
.news .slick-next {
  right: -68px;
}

.gallery {
  padding: 170px 0 0;
}
.gallery__title {
  text-align: center;
  position: relative;
  padding-bottom: 90px;
}
.gallery__title h4::before {
  background-color: #2C4058;
}
.gallery .image-first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: image-first;
}
.gallery .image-second {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: image-second;
}
.gallery .image-third {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: image-third;
}
.gallery .image-fourth {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: image-fourth;
}
.gallery .image-fifth {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: image-fifth;
}
.gallery__image {
  max-height: 438px;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "image-first image-first image-second image-third" "image-first image-first image-fourth image-fifth";
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.gallery__image a img {
  cursor: pointer;
}
.gallery__block {
  display: inline-block;
  position: relative;
  line-height: 0;
}
.gallery__block:after {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}
.gallery__block:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -o-linear-gradient(206.57deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-image: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  opacity: 0.8;
}
.gallery__block:before {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.gallery__block:hover:before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: -26px 0 0 -26px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../images/svg/plus.svg) 0 0 no-repeat;
  z-index: 50;
  opacity: 1;
}
.gallery__button {
  text-align: center;
  padding: 60px 0 140px;
}

.map__contact {
  height: 700px;
  z-index: 10;
  position: relative;
}
.map__contact a img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.map__contact p {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.map__contact a:hover p {
  opacity: 0.5;
}
.map .map_popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.map .map_popup img {
  width: 100px;
  margin-right: 10px;
}

.footer {
  position: relative;
  z-index: 10;
  background: -o-linear-gradient(198.94deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
}
.footer-bg {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__content {
  padding: 204px 0 233px;
}
.footer__contact {
  position: relative;
}
.footer__contact-field {
  /* max-width: 770px;
  max-height: 450px; */
  width: 100%;
  z-index: 400;
  position: absolute;
  bottom: 54px;
  left: 0;
  padding: 87px 60px 42px;
  background-color: white;
}
.footer__contact-field .form-bg {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__contact-title {
  text-align: center;
  color: #2C4058;
  position: relative;
  padding: 0 0 46px;
}
.footer__contact-title h4::before {
  background-color: #2C4058;
  width: 15.5%;
  left: 42%;
}
.footer__contact-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}
.footer__contact-column_left {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.125rem;
}
.footer__contact-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 33px;
}
.footer__contact-data a {
  text-decoration: none;
}
.footer__contact-data a span {
  color: #000;
}
.footer__contact-data img {
  width: 14px;
  fill: #7E5AFF;
  margin-right: 5px;
  -o-object-fit: inherit;
  object-fit: inherit;
}
.footer__contact .form-time img {
  padding-top: 3px;
}
.footer__contact-column_right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.footer__contact-login {
  padding-bottom: 33px;
}
.footer__contact-email {
  padding-bottom: 30px;
}
.footer__contact .form-field {
  width: 100%;
  outline: none;
  border: none;
  padding-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.125rem;
}
.footer__contact .form-row {
  position: relative;
}
.footer__contact .form-row input {
  border-bottom: 1px solid #7e8081;
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__contact .form-row input:valid {
  border-color: green;
}
.footer__contact .form-row input:focus {
  outline: 0;
  border-color: #07d4e2;
}
.footer__contact .form-row input:focus:invalid {
  border-color: red;
}
.footer__contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.footer__contact-button {
  width: 140px;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 41px;
}
.footer__media {
  padding-top: 6px;
}
.footer__media li {
  cursor: pointer;
  display: inline-block;
}
.footer__media li + li {
  padding-left: 15px;
}
.footer__media li a svg {
  width: 40px;
}
.footer__text {
  color: #fff;
}

.hamburger_menu {
  display: none;
  position: relative;
}
.hamburger_menu button {
  padding: 15px;
  position: absolute;
  top: 0;
  right: 15px;
}
.hamburger_menu a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.page_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 33, 33, 0.7);
  z-index: 999;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.mobile_menu_wrap {
  position: fixed;
  top: 0;
  left: -110%;
  background: -o-linear-gradient(206.57deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  height: 100vh;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  z-index: 1000;
  max-width: 400px;
}
.mobile_menu_wrap .sidemenu_top {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile_menu_wrap .sidemenu li {
  border-bottom: 1px solid #c2bfbf;
}
.mobile_menu_wrap .sidemenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
}
.mobile_menu_wrap .mobile__media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mobile_menu_wrap .mobile__media ul li {
  list-style: none;
  padding: 30px;
}

.open .page_overlay {
  display: block;
}
.open .mobile_menu_wrap {
  left: 0;
}

.hamburger--spring .hamburger-inner {
  background-color: #fff;
}

.hamburger--spring .hamburger-inner::before {
  background-color: #fff;
}

.hamburger--spring .hamburger-inner::after {
  background-color: #fff;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  background-color: #fff;
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  background-color: #fff;
}